@import url("https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Poppins:wght@100&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Baloo Paaji 2", cursive;
  scroll-behavior: smooth;
  background-color: black;
}

.slide {
  width: 100%;
  min-height: 100%;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 80px;
}

#logo img {
  width: 150px;
}

nav {
  width: 60%;
  display: flex;
  align-items: center;
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-around;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  border-bottom: 2px solid #00adb5;
}

#burger {
  width: 50px;
  height: 40px;
  margin: auto 20px auto 0;
  cursor: pointer;
  display: none;
}

#burger .bar {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 8px 0;
}

#home {
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.imglogo {
  display: none;
}

.container-flex {
  margin-top: 200px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

video {
  width: 900px;
}

.cont-btn {
  display: flex;
  width: 20%;
  height: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border: 1px solid #00adb5;
  margin-bottom: 30px;
}

.cont-btn a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.loc {
  color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
}

.date {
  color: white;
  display: flex;
  align-items: center;
  font-size: 30px;
  justify-content: center;
}

.covertitre {
  height: 200px;
  background-image: url(images/background-dark.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  margin-bottom: 100px;
  margin-top: 90px;
}

h1 {
  color: #00adb5;
  height: 100px;
  width: 100%;
  text-align: center;
  margin-top: 80px;
}

#ticket {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.regular {
  width: 80%;
  border: 2px solid;
  border-color: #00adb5;
  text-align: center;
  line-height: 35px;
}

#regul {
  margin-top: 10px;
  color: white;
  font-size: 25px;
}

#acces {
  color: white;
  font-size: 18px;
}

#prix1 {
  color: crimson;
  font-size: 25px;
  margin-bottom: 5px;
}

.weekend {
  margin-top: 80px;
  width: 80%;
  border: 2px solid;
  border-color: #00adb5;
  text-align: center;
  line-height: 35px;
  align-items: center;
  justify-content: center;
}

#week {
  color: white;
  font-size: 25px;
  margin-top: 10px;
}

#option {
  color: white;
  font-size: 15px;
}

#prix2 {
  color: crimson;
  font-size: 29px;
  margin-bottom: 5px;
}

.vip {
  margin-top: 80px;
  width: 80%;
  border: 2px solid;
  border-color: #00adb5;
  text-align: center;
  line-height: 35px;
  align-items: center;
}

#viip {
  margin-top: 10px;
  color: white;
  font-size: 25px;
}

#option2 {
  color: white;
  font-size: 15px;
}

#prix3 {
  color: crimson;
  font-size: 30px;
  margin-bottom: 5px;
}

.container-flex1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  color: white;
}

.normal {
  width: 50%;
  height: 300% px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #00adb5;
}

.titre {
  font-size: 25px;
  border-bottom: 1px solid #00adb5;
}

.description1 {
  margin-top: 50px;
  font-size: 18px;
}

.description {
  font-size: 18px;
}

.tente {
  margin-top: 30px;
}

.vvip {
  width: 50%;
  height: 300% px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tente {
  margin-top: 30px;
  width: 80%;
}

.vendredi {
  width: 50%;
  float: left;
  color: white;
  text-align: center;
  border-right: 2px solid #00adb5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vendredi h2 {
  border-bottom: 2px solid #00adb5;
  font-size: 35px;
}

.img1 {
  margin-top: 30px;
  width: 50%;
}

.img2 {
  margin-top: 40px;
  width: 40%;
}

.img3 {
  width: 40%;
  margin-top: 40px;
}

.samedi {
  width: 50%;
  float: left;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.samedi h2 {
  border-bottom: 2px solid #00adb5;
  font-size: 35px;
}

.img4 {
  margin-top: 10px;
  width: 40%;
}

.img5 {
  width: 40%;
}

.img6 {
  width: 40%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.opening {
  width: 30%;
  height: 300% px;
  border: 1px solid #00adb5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.opening h2 {
  margin-top: 20px;
  display: flex;
  color: white;
  font-size: 25px;
  border-bottom: 2px solid #00adb5;
}

.opening p {
  display: flex;
  color: white;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
  align-items: center;
  font-size: 18px;
}

.opening img {
  margin-top: 15px;
  width: 60%;
  height: 50%;
  margin-bottom: 15px;
}

.opening a {
  text-decoration: none;
  border: 1px solid #00adb5;
  color: white;
  margin: 20px;
  padding: 5px;
}

.acces {
  width: 30%;
  height: 300% px;
  border: 1px solid #00adb5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.acces h2 {
  margin-top: 20px;
  display: flex;
  color: white;
  font-size: 25px;
  border-bottom: 1px solid #00adb5;
}

.acces p {
  display: flex;
  color: white;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 18px;
}

.acces img {
  margin-top: 15px;
  width: 60%;
  height: 50%;
  margin-bottom: 15px;
}

.acces a {
  text-decoration: none;
  border: 1px solid #00adb5;
  color: white;
  margin: 20px;
  padding: 5px;
}

.onsite {
  width: 30%;
  height: 300% px;
  border: 1px solid #00adb5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.onsite h2 {
  margin-top: 20px;
  display: flex;
  color: white;
  font-size: 25px;
  border-bottom: 1px solid #00adb5;
}

.onsite p {
  display: flex;
  color: white;
  margin-top: 30px;
  margin-bottom: 5px;
  font-size: 18px;
}

.onsite img {
  margin-top: 15px;
  width: 60%;
  height: 50%;
  margin-bottom: 15px;
}

.onsite a {
  text-decoration: none;
  border: 1px solid #00adb5;
  padding: 5px;
  margin: 20px;
  color: white;
}

.form {
  margin-top: 10px;
}

.form h2 {
  color: white;
  font-size: 30px;
  text-align: center;
}

.form form {
  margin-bottom: 200px;
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
}

.form form .input {
  font-size: 18px;
  display: flex;
  width: 100%;
  align-items: center;
  border-bottom: solid 1px #00adb5;
  margin-top: 40px;
}

.form form label {
  width: 100px;
}

.form form input {
  width: 60%;
  background-color: black;
  border: 0;
  color: white;
}

.form form input:focus {
  outline: 0;
}

.form form select {
  width: 80%;
  background-color: black;
  border: 0;
  outline: 0;
  color: white;
}

.form form select option {
  color: white;
  border: 0;
  outline: 0;
}

.form form select:focus {
  outline: 0;
  border: 0;
}

.form form textarea {
  margin: 6px;
  width: 80%;
  border: none;
  background-color: black;
  color: white;
  resize: none;
}

.form form textarea:focus {
  outline: 0;
}

.form form button {
  border: 0 none;
  background-color: #00adb5;
  color: white;
  width: 180px;
  height: 40px;
  font-weight: bolder;
  align-self: center;
  margin-top: 60px;
}

footer {
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

footer img {
  width: 120px;
}

@media screen and (max-width: 1100px) {
  nav {
    display: none;
  }

  #burger {
    display: block;
  }

  .txt {
    width: 40%;
  }

  .container {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .container-flex {
    flex-direction: column;
    align-items: center;
  }

  .container-flex1 {
    flex-direction: column;
    align-items: center;
  }

  .normal {
    border: none;
    margin-bottom: 60px;
  }

  .viip {
    justify-content: center;
    align-items: center;
  }

  .vendredi {
    border: none;
    width: 95%;
    margin-bottom: 60px;
  }

  .samedi {
    width: 95%;
  }

  .opening {
    margin-bottom: 15px;
    width: 60%;
  }

  .acces {
    margin-bottom: 15px;
    width: 60%;
  }

  .onsite {
    width: 60%;
  }

  .slide {
    height: 100%;
  }

  .video {
    width: 500px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 700px) {
  nav {
    display: none;
  }

  #burger {
    display: block;
  }

  .txt {
    width: 40%;
  }

  .container {
    flex-direction: column;
    align-items: center;
    width: 95%;
  }

  .container-flex {
    flex-direction: column;
    align-items: center;
  }

  .container-flex1 {
    flex-direction: column;
    align-items: center;
  }

  .normal {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    border: none;
    margin-bottom: 60px;
    border: 1px solid #00adb5;
    padding: 10px;
    width: 80%;
  }

  .normal img {
    margin-bottom: 10px;
  }

  .normal h2 {
    font-size: 25px;
  }

  .normal p {
    font-size: 18px;
  }

  .vvip {
    border: 1px solid #00adb5;
    padding: 10px;
    width: 80%;
  }

  .vvip .titre {
    justify-content: center;
  }

  .viip img {
    margin-bottom: 10px;
  }

  .vvip h2 {
    font-size: 25px;
  }

  .vvip p {
    font-size: 18px;
    text-align: center;
  }

  .vendredi {
    border: none;
    width: 95%;
    margin-bottom: 60px;
  }

  .samedi {
    width: 95%;
  }

  .opening {
    margin-bottom: 15px;
    width: 80%;
  }

  .acces {
    margin-bottom: 15px;
    width: 80%;
  }

  .onsite {
    width: 80%;
  }

  .slide {
    height: 100%;
  }

  .loc {
    display: none;
  }

  .date {
    color: #00adb5;
    margin-bottom: 30px;
    font-size: 20px;
  }

  .imglogo {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .imglogo img {
    display: flex;
    width: 80%;
  }

  video {
    display: none;
  }

  #logo img {
    width: 100px;
  }

  #pratique p {
    text-align: center;
  }

  .opening {
    text-align: center;
    width: 80%;
  }

  .covertitre {
    background-image: none;
  }

  .form {
    width: 80%;
  }

  .cont-btn {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
